/* Custom CSS for the calendar */
.rbc-time-view {
  overflow-x: auto;
  overflow-y: auto;
}

.rbc-time-content {
  display: flex;
}

.rbc-time-header-cell {
  min-width: 150px; /* Adjust this value to set the fixed width for resource columns */
}

.rbc-time-column {
  min-width: 100px; /* Fixed width for each time slot */
}

.rbc-header {
  color: black;
  font-size: 14px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px !important;
  background: #dedede;
}

.rbc-allday-cell {
  display: none;
}

/* Màu thời gian */
.rbc-time-slot {
  color: #808080;
  z-index: 1;
}

/* Màu ô thời gian */
.rbc-time-slot:not(.rbc-today .rbc-time-slot) {
  background-color: white;
}

.rbc-event,
.rbc-background-event {
  z-index: 2;
  padding: 6px !important;
  border: 2px blue;
  background-color: #dff2f7;
  color: black;
  border-radius: 10px;
}

.rbc-events-container {
  width: 100% !important;
}

.rbc-day-slot {
  background-color: white;
}

.rbc-current-time-indicator {
  background-color: rgba(255, 0, 0, 0.484);
}

.rbc-calendar {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
