.table {
  width: 100%;
  border-width: 0.5px;
  font-weight: 650;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.table .header {
  display: flex;
  height: 75px;
  width: 100%;
}

.table .header .cell {
  flex-basis: 12.5%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8c8c8c;
}

.table .row {
  display: flex;
  height: 200px;
  width: 100%;
}

.table .shift-cell {
  flex-basis: 12.5%;
  height: 100%;
  padding-left: 30px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.table .row .cell {
  flex-basis: 12.5%;
  height: 100%;
  padding: 6px;
  border-width: 1px;
  border-radius: 20px;
  overflow: auto;
}

.table .row .cell .btn {
  width: 100%;
  min-height: 50px;
  max-height: 85px;
  margin-bottom: 6px;
  background-color: #f2f2f2;
  border-width: 1px;
  border-color: #f2f2f2;
  border-radius: 10px;
  padding: 4px;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.table .row .cell .btn:hover {
  border-color: #33333383;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.table .row .cell .btn.on-time-btn {
  background-color: #c2ffc7;
  border-color: #c2ffc7;
}

.table .row .cell .btn.on-time-btn:hover {
  border-color: #347928;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.table .row .cell .btn.violated-btn {
  background-color: #fcf596;
  border-color: #fcf596;
}

.table .row .cell .btn.violated-btn:hover {
  border-color: #ff4545;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.table .row .cell .btn.absent-btn {
  background-color: #ff9c73;
  border-color: #ff9c73;
}

.table .row .cell .btn.absent-btn:hover {
  border-color: #c62e2e;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.table .row .cell .btn.progress-btn {
  background-color: #c9e6f0;
  border-color: #c9e6f0;
}

.table .row .cell .btn.progress-btn:hover {
  border-color: #78b3ce;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}
